<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/print.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body class="login_backgorund">

<div class="login_style">
  <h1>Memonote</h1>
  <h3 class="subTitle_style">登入</h3>
  <form role="form" method="post">
    <input id="username" name="username" type="text" class="form-control" placeholder="帳號" required /><br>
    <input id="email"  name="email" type="text" class="form-control" placeholder="信箱" required/><br>
    <input id="password" name="password" type="password" class="form-control" placeholder="密碼" required/><br>
    <input id="rePassword"  name="rePassword" type="password" class="form-control" placeholder="再輸入密碼" required/><br>
    <button id="btnSub" class="btn_style login_btn_style" type="submit">註冊</button>
    <p>OR</p>
    <a class="FB_btn_style"  role="button">Facebook Login</a>
  </form>

</div>
  <script type="text/javascript">
  $(function(){
    $('#btnSub').click(function(e){
      e.preventDefault();
      var userInfo = {};
      userInfo.username = $("#username").val();
      userInfo.email = $("#email").val();
      userInfo.password =  $("#password").val();
      userInfo.rePassword =  $("#rePassword").val();
      $.ajax({
          url: '/',
          type:"POST",
          contentType:"application/x-www-form-urlencoded",
          // contentType: 'application/json', //TODO: 這個會失敗,去了解
          data: userInfo,
          dataType:'text',
          success: function(msg){
              alert(msg);
          }
      });
    });
  });
  </script>
</body>
</html>
