<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/print.css">
  <link rel="shortcut icon" href="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body class="login_backgorund">

<div class="login_style">
  <h1>Memonote</h1>
  <h3 class="subTitle_style">登入</h3>
  <form role="form" method="post">
    <input id="email"  name="email" type="text" placeholder="信箱" required/><br>
    <input id="password" name="password" type="password" placeholder="密碼" required/><br>
    <button id="btnSub" class="btn_style login_btn_style" type="submit">登入</button>
  </form>

</div>
  <script type="text/javascript">
  $(function(){
    $('#btnSub').click(function(e){
      e.preventDefault();
      var userInfo = {};
      userInfo.email = $("#email").val();
      userInfo.password =  $("#password").val();
      $.ajax({
          url: '/login',
          type:"POST",
          contentType:"application/x-www-form-urlencoded",
          // contentType: 'application/json', //TODO: 這個會失敗,去了解
          data: userInfo,
          // dataType:'text',
          success: function(data) {
            console.log(data)
            if (data) {
              alert(data.msg);
              window.location.href = data.redirect;
            }
          }
      });
    });
  });
  </script>
</body>
</html>
