<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>註冊</title>
  <link rel="stylesheet" href="/stylesheets/print.css">
  <link rel="shortcut icon" href="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body class="login_backgorund">

<div class="login_style">
  <h1>Memonote</h1>
  <h3 class="subTitle_style">註冊-html</h3>
  <form role="form" method="post">
    <input id="email"  name="email" type="text" placeholder="信箱" required/><br>
    <input id="password" name="password" type="password" placeholder="密碼" required/><br>
    <input id="passwordRepeat"  name="passwordRepeat" type="password" placeholder="再輸入密碼" required/><br>
    <button id="btnSub" class="btn_style login_btn_style" type="submit">註冊</button>
  </form>

</div>
  <script type="text/javascript">
  $(function(){
    $('#btnSub').click(function(e){
      e.preventDefault();
      var userInfo = {};
      userInfo.email = $("#email").val();
      userInfo.password =  $("#password").val();
      userInfo.passwordRepeat =  $("#passwordRepeat").val();
      console.log('userInfo: ' , userInfo)
      $.ajax({
          url: '/reg',
          type:"POST",
          contentType:"application/x-www-form-urlencoded",
          // contentType: 'application/json', //TODO: 這個會失敗,去了解
          data: userInfo
          // dataType:'text'
      });
    });
  });
  </script>
</body>
</html>
